<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- For development, pass document through inliner -->
    <link rel="stylesheet" href="/styles/simple.css" />
    <title>
      KODE PASSWORD! EJAVEC Forum 2023 - Call for Paper & Sharia Conference.
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i"
      rel="stylesheet"
    />

    <style type="text/css">
      /* Your custom styles go here */
    </style>
  </head>
  <body>
    <table class="body-wrap">
      <tr>
        <td class="container">
          <!-- Message start -->
          <table>
            <tr>
              <td align="center" class="masthead">
                <img
                  align="left"
                  alt="ejavec-logo"
                  src="cid:ejavec-forum-email-logo"
                  width="181"
                  style="
                    max-width: 181px;
                    padding-left: 35px;
                    display: inline !important;
                  "
                />
              </td>
            </tr>
            <tr>
              <td class="content">
                <h2 style="padding-bottom: 25px; color: #004d83">
                  Selamat datang di 10<sup
                    style="
                      font-size: 75%;
                      line-height: 0;
                      vertical-align: 0.4em;
                    "
                    >th</sup
                  >
                  EJAVEC Forum 2023 - Call for Paper & Sharia Conference.
                </h2>

                <p>Berikut ini PASSWORD baru Anda:</p>
                <h3>{{ password }}</h3>

                <table>
                  <tr>
                    <td style="padding-top: 25px">
                      <p>
                        Harap berhati-hati untuk tetap menjaga kerahasiaan akun
                        baik <em>username / email</em> serta
                        <em>password</em> yang Anda gunakan saat
                        <em>sign up</em>. Karena seluruh
                        <b>pengumuman / informasi</b> terkait dengan kegiatan
                        ini, akan kami kirimkan melalui
                        <em>username / email</em> tersebut.
                      </p>
                    </td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td style="padding-top: 35px">
                      <p>
                        Salam,<br />
                        <b
                          >Panitia 10<sup
                            style="
                              font-size: 75%;
                              line-height: 0;
                              vertical-align: 0.4em;
                            "
                            >th</sup
                          >
                          EJAVEC Forum 2023 - Call for Paper & Sharia
                          Conference.</b
                        >
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="container">
          <!-- Message start -->
          <table>
            <tr>
              <td class="content footer" align="center">
                <p>
                  Copyrights&nbsp;© 2023. East Java Economic (EJAVEC) Forum. All
                  rights reserved.
                </p>
                <p>
                  Informasi lebih lanjut: <a href="mailto:">info@ejavec.org</a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
